.block-quote-info-fav {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.quote-card {
  display: flex;
  max-width: 335px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 20px;
}

.quote-icon-man {
  padding: 6px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--second-color);
  border-radius: 50%;
  background: var(--stars-color);
  flex-shrink: 0;
}

.quote-content {
  margin-left: 20px;
}

.quote-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: var(--second-color);
}

.quote-icon-comma {
  fill: var(--second-color);
  flex-shrink: 0;
}

.quote-text {
  margin-bottom: 16px;
  color: var(--quote-color);
  font-size: 14px;
  line-height: 1.28;
}

.quote-author {
  color: var(--second-color);
  font-size: 14px;
  line-height: 1.28;
}

.daily-norm {
  max-width: 335px;
  height: 119px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--white-color);
}

.icon-dumbbells {
  padding: 6px;
  margin-bottom: 15px;
  flex-shrink: 0;
  fill: var(--main-color);
  border-radius: 50%;
}

.daily-norm-title {
  margin-bottom: 6px;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.daily-norm-subtitle {
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  line-height: 1.28;
}

.quote-img {
  width: 335px;
  height: 119px;
  margin-bottom: 20px;
  border-radius: 20px;
  flex-shrink: 0;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .block-quote-info {
    max-width: 100%;
  }

  .quote-card {
    max-width: 100%;
    height: 220px;
    margin-bottom: 16px;
    padding: 40px;
  }

  .quote-content {
    margin-left: 18px;
  }

  .quote-title {
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 1.33;
  }

  .quote-text {
    margin-bottom: 18px;
  }

  .quote-author {
    font-size: 16px;
    line-height: 1.5;
  }

  .img-and-daily {
    display: flex;
    gap: 16px;
  }

  .daily-norm {
    max-width: 344px;
    height: 141px;
    padding: 25px;
    margin-bottom: 0;
  }

  .daily-norm-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .quote-img {
    width: 344px;
    height: 141px;
    margin-bottom: 0;
  }

  /* Styles for Desktop devices */
  @media only screen and (min-width: 1440px) {
    .quote-card {
      max-width: 494px;
      height: 230px;
    }

    .quote-content {
      margin-left: 18px;
    }

    .quote-text {
      margin-bottom: 8px;
    }

    .daily-norm {
      max-width: 239px;
    }

    .quote-img {
      width: 239px;
    }
  }
}
