.quote-block {
}
.quote-card {
}
.quote-icon-man {
}
.quote-title {
}
.quote-icon-comma {
}
.quote-api-text {
}
.quote-img {
}
.daily-norm {
}
.icon-dumbbells {
}
.daily-norm-title {
}
.daily-norm-subtitle {
}
