/* ============================================== */
/* 1. Backdrop and General Modal Styles */
/* ============================================== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms ease, visibility 250ms ease;
    z-index: 1000;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-sizing: border-box;
}

/* ============================================== */
/* 2. Rating Modal Specific Styles */
/* ============================================== */
.modal-rating {
    width: 90%;
    max-width: 335px;
    padding: 40px 20px;
    background-color: #1c1c1c;
    max-height: 90vh;
    overflow-y: auto;
}

@media screen and (min-width: 768px) {
    .modal-rating {
        max-width: 450px;
        padding: 40px;
    }
}

.close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* ============================================== */
/* 3. Rating Header and Stars */
/* ============================================== */
.rating-title {
    font-size: 12px;
    font-weight: 400;
    color: rgba(244, 244, 244, 0.4);
    line-height: 150%;
    margin-bottom: 8px;
   
}

.rating-stars-box {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    color: #f4f4f4;
    font-size: 12px;
    line-height: 150%;
    font-weight: 400;
}

.rating-value {
    margin-right: 8px;
}

.rating-stars {
    display: flex;
    direction: rtl; 
}

.rating-star-label {
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 4px;
}


.rating-star-label .star-icon {
    width: 100%;
    height: 100%;
   
    fill: rgba(244, 244, 244, 0.2); 
    transition: fill 250ms ease;
}


.rating-radio:checked ~ .rating-star-label .star-icon,
.rating-star-label:hover .star-icon,
.rating-star-label:hover ~ .rating-star-label .star-icon {
   
    fill: #eea10c; 
}


/* ============================================== */
/* 4. Form Styles */
/* ============================================== */

.form-input, .form-textarea {
    width: 100%;
    padding: 14px 12px;
    margin-bottom: 16px;
    border: 1px solid #f4f4f4;
    border-radius: 30px;
    background: none;
    color: #f4f4f4; 
    font-size: 16px;
    outline: none;
}

.form-textarea {
    resize: none;
    height: 108px;
    margin-bottom: 32px;
    border-radius: 15px;
}

.submit-btn {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 30px;
    background-color: #f4f4f4; 
    color:  #242424;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 250ms ease;
}

.submit-btn:hover,
.submit-btn:focus {
    opacity: 0.9;
}