.basicLightbox.basicLightbox--visible {
  height: 100dvh;
}

.modal-exercise {
  position: relative;
  background-color: var(--main-color);
  color: var(--second-color);
  padding: 40px 20px;
  border-radius: 20px;
  max-width: 90%;
  max-height: 95dvh;
  margin: 0 auto;
  flex-shrink: 0;
  font-style: normal;
  font-size: 14px;
  overflow: auto;
}

.modal-exercise-img {
  display: block;
  width: 295px;
  height: 258px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.modal-exercise-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modal-exercise-close-icon {
  width: 24px;
  height: 24px;
  transition: stroke var(--trans-norm);
}

.modal-exercise-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  font-feature-settings: 'clig' off, 'liga' off;
  margin-bottom: 10px;
}

.modal-exercise-title::selection,
.modal-exercise-rating-number::selection,
.modal-exercise-tag-value::selection {
  color: var(--main-color);
  background-color: #b5b5b5;
}

.modal-exercise-tag-key::selection,
.modal-exercise-description::selection {
  color: var(--second-color);
  background-color: #474747;
}

.modal-exercise-rating-container {
  margin-bottom: 20px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.modal-exercise-rating-number {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  line-height: 1.5;
  height: 14px;
}

.modal-exercise-tag-container {
  margin-bottom: 20px;
}

.modal-exercise-tag-container::before,
.modal-exercise-tag-container::after {
  content: '';
  display: block;
  max-width: 100%;
  width: 295px;
  height: 0px;
  stroke-width: 1px;
  background-color: rgba(244, 244, 244, 0.2);
  padding: 1px;
}
.modal-exercise-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 8px 0;
}

.modal-exercise-tag-key {
  color: rgba(244, 244, 244, 0.4);
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 1.5;
  font-feature-settings: 'clig' off, 'liga' off;
}

.modal-exercise-tag-value {
  font-weight: 500;
  line-height: 1.29; /* 128.571% */
  font-feature-settings: 'clig' off, 'liga' off;
}

.modal-exercise-description {
  color: rgba(244, 244, 244, 0.6);
  line-height: 1.29; /* 128.571% */
  padding-bottom: 40px;
}

.modal-exercise-btn-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.modal-exercise-btn {
  display: block;
  width: 100%;
  padding: 12px 22px;
  border-radius: 30px;
  line-height: 1.29;
  min-height: 48px;
  box-sizing: border-box;
}

.add-to-favorites-btn {
  background: var(--second-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  transition: color var(--trans-norm), background-color var(--trans-norm),
    border-color var(--trans-norm);
  white-space: nowrap;
  font-size: 14px;
}

.add-to-favorites-btn span {
  display: block;
  width: 18px;
  height: 18px;
}

.modal-exercise-heart-icon {
  width: 18px;
  height: 18px;
  stroke: var(--main-color);
  fill: transparent;
  transition: stroke var(--trans-norm);
}

.modal-exercise-trash-icon {
  width: 18px;
  height: 18px;
  fill: var(--second-color);
  stroke: var(--main-color);
  transition: fill var(--trans-norm);
}

.give-rating-btn {
  border: 1px solid var(--second-color);
  color: var(--second-color);
  background-color: transparent;
  transition: color var(--trans-norm), background-color var(--trans-norm),
    border-color var(--trans-norm);
  white-space: nowrap;
  font-size: 14px;
}

.give-rating-btn:focus {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: var(--second-color);
}

/** ======== MOBILE ======== */

@media screen and (max-width: 374px) {
  .modal-exercise {
    padding: 20px 16px;
    max-width: calc(100% - 20px);
  }

  .modal-exercise-img {
    width: 100%;
    max-width: 280px;
    height: auto;
  }

  .modal-exercise-close-btn {
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
  }

  .modal-exercise-close-icon {
    width: 20px;
    height: 20px;
  }

  .modal-exercise-title {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .modal-exercise-tag-container::before,
  .modal-exercise-tag-container::after {
    width: 100%;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .modal-exercise {
    max-width: 335px;
  }
}

/** ======== TABLET ======== */

@media screen and (min-width: 768px) {
  .modal-exercise {
    max-width: 704px;
    padding: 32px;
  }

  .modal-exercise-container {
    display: flex;
    gap: 28px;
    margin-bottom: 64px;
  }

  .modal-exercise-close-btn {
    top: 16px;
    right: 16px;
    width: 28px;
    height: 28px;
  }

  .modal-exercise-close-icon {
    width: 28px;
    height: 28px;
  }

  .modal-exercise-img {
    margin-bottom: 0;
    width: 270px;
    height: 259px;
  }

  .modal-exercise-info-container {
    display: flex;
  }

  .modal-exercise-title {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 8px;
  }

  .modal-exercise-rating-container {
    margin-bottom: 16px;
  }

  .modal-exercise-tag-container::before,
  .modal-exercise-tag-container::after {
    width: 342px;
  }

  .modal-exercise-info-container {
    display: flex;
    flex-direction: column;
  }

  .modal-exercise-tag-list {
    gap: 16px;
  }

  .modal-exercise-tag-container {
    margin-bottom: 16px;
  }

  .modal-exercise-description {
    margin-bottom: 0;
  }

  .modal-exercise-btn {
    font-size: 16px;
    line-height: 1.5;
    min-height: 52px;
  }

  .modal-exercise-btn-list {
    width: 100%;
    max-width: 357px;
    margin-left: auto;
  }

  .modal-exercise-heart-icon {
    width: 20px;
    height: 20px;
  }
}

/** ======== DESKTOP ======== */

@media screen and (min-width: 1440px) {
  .modal-exercise {
    max-width: 708px;
  }

  .modal-exercise-close-btn:hover .modal-exercise-close-icon {
    stroke: #ff6b6b;
  }

  .add-to-favorites-btn:hover {
    background-color: transparent;
    color: var(--second-color);
    border-color: var(--second-color);
  }

  .add-to-favorites-btn:hover .modal-exercise-heart-icon {
    stroke: var(--second-color);
  }

  .add-to-favorites-btn:hover .modal-exercise-trash-icon {
    fill: var(--second-color);
  }

  .give-rating-btn:hover {
    color: var(--main-color);
    border-color: var(--main-color);
    background-color: var(--second-color);
  }
  .modal-exercise-btn-list {
    margin-left: auto;
    flex-direction: row;
    justify-content: flex-end;
  }
}
