.pagination-controls-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination-controls-list > li:nth-child(2) {
  margin-right: 14px;
}
.pagination-controls-list > li:nth-last-child(2) {
  margin-left: 14px;
}

.pagination-arrow-btn,
.pagination-arrow-btn-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  margin: 0 2px;
  border-radius: 50%;
  background: none;
  user-select: none;
}

.pagination-arrow-btn {
  fill: var(--pagination-color);
  border: 1px solid var(--pagination-color);
}
.pagination-arrow-btn-active {
  fill: var(--main-color);
  border: 1px solid var(--main-color);
}

.right-vector {
  transform: rotate(180deg);
}

.pagination-control,
.pagination-control-active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  border-radius: 50%;
  background: none;
  user-select: none;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.04em;
}
.pagination-control {
  padding: 0 4px;
  color: var(--pagination-color);
  border: 1px solid transparent;
}
.pagination-control-active {
  width: 31px;
  margin: 0 2px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

@media only screen and (min-width: 768px) {
  .pagination-controls-list {
    margin-top: 32px;
  }

  .pagination-arrow-btn,
  .pagination-arrow-btn-active {
    width: 32px;
    height: 32px;
  }
  .pagination-control,
  .pagination-control-active {
    height: 32px;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.04em;
  }
  .pagination-control-active {
    width: 32px;
  }
}
