.quote-favorites-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 20px;
}
.no-content-warning {
  padding: 0px 9px 46px 9px;
}
.no-content-warning p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #242424;
}
.favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.favorite-remove-btn {
  background: transparent;
  border: transparent;
}
.favorite-exercise-trash-icon {
  fill: var(--main-color);
}

.favorite-remove-btn:hover > .favorite-exercise-trash-icon {
  fill: var(--second-color);
}
.pagination-controls-list {
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .quote-favorites-box {
    row-gap: 32px;
  }
  .no-content-warning {
    padding: 68px 75px 187px 75px;
  }
  .no-content-warning p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #242424;
  }
}

@media only screen and (min-width: 1440px) {
  .quote-favorites-box {
    gap: 0;
    flex-wrap: nowrap;
  }

  .favorites-list {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 470px;
    row-gap: 16px;
    column-gap: 16px;
    margin-bottom: auto;
  }

  .no-content-warning {
    padding: 114px 148px 364px 148px;
  }

  .favorites-list .exercises-item {
    width: 405px;
    max-height: 141px;
  }

  .quote-favorites-box .pagination-controls-list {
    display: none;
  }
}
