.section-exercises {
  padding: 64px 0 132px;
}
.block-filters {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 32px;
}
.filters-list {
  display: flex;
  gap: 20px;
}
.filters-list-item-active::after {
  content: '';
  width: 40px;
  height: 4px;
  background-color: blueviolet;
  display: block;
}
/* =======================
block-categories
   ======================= */
.block-categories {
  width: 900px;
  margin-left: auto;
}
.block-categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
   row-gap: 32px; 
}
.categories-item {
  position: relative;
  flex-basis: calc((100% - 2 * 15px) / 3);
  overflow: hidden; 
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  
}
.categories-item-info {
  color: var(--second-color);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.categories-item-info h3{
  font-size: 24px;
  
}
.categories-item-info p{
  color: var(--color-light-grey-translucent);
  font-size: 12px;
}

.category-image{
border-radius: 12px;
width: 100%; 
height: 100%; 
object-fit: cover; 
border-radius: 12px;
  

}
.categories-item::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:linear-gradient( 
     rgba(0, 0, 0, 0.3),
     rgba(0, 0, 0, 0.5)
  );
 
  border-radius: 12px; 
  z-index: 1; 
}

.categories-item-info {
  color: var(--second-color);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; 
}

.exercises-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.exercises-item {
  width: 442px;
}
.pagination-controls-list {
  display: flex;
  justify-content: center;
}
.pagination-control {
  color: #d4d4d4;
  border: 1px solid transparent;
  border-radius: 50%;
}
.pagination-control-active {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
