.hero {
  display: flex;
  justify-content: space-between;
}
.hero-title {
  font-weight: 400;
  font-size: 38px;
  line-height: 1.16;
  letter-spacing: -0.02em;
}
.hero-title-wrapper {
  /* display: flex; */
}
.hero-svg {
  width: 38px;
  height: 38px;
  margin-top: 5px;
  margin-right: 15px;
}

.hero-span {
  font-style: italic;
}
.hero-subtitle {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.hero-image {
  margin-top: 20px;
  border-radius: 30px;
  /* width: 335px;   */
}
.hero-image-top {
  width: 168px;
  border-radius: 20px;
}
.wrapper-top-tags {
  display: none;
}
.hero-tag-list-top {
  display: flex;
  flex-wrap: wrap;
  width: 197px;
  gap: 8px;
  margin-top: 20px;
}
.hero-tag-list {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}
.hero-tags {
  border: 1px solid #242424;
  border-radius: 30px;
  padding: 4px 12px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero-title {
    font-size: 74px;
  }
  .hero-subtitle {
    font-size: 18px;
    line-height: 1.33;
  }
  .hero-tag-list {
    justify-content: end;
    width: 59px;
    height: 59px;
    margin-top: 5px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 15px;
  }
  .wrapper-top-tags {
    display: flex;
    flex-direction: column;
  }
  .hero-tag-list {
    display: none;
  }
}
