.section-exercises {
  padding: 64px 0 132px;
  background: #f4f4f4;
}

.search-form {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  max-width: 273px;
  height: 48px;

  &.visually-hidden {
    display: flex;
  }
}
.search-label {
  display: block;
  width: 100%;
}
.search-input {
  border: 1px solid #242424;
  border-radius: 30px;
  padding: 12px 70px 12px 14px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
}
.search-btn {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  fill: #242424;
}
.clear-btn {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  fill: #242424;
  z-index: 2;
}
.search-btn {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  fill: #242424;
  z-index: 2;
}
/* =======================================================
PLACEHOLDER STYLES WHEN FOCUSING
   ======================================================= */

.search-input:focus::placeholder {
  color: transparent; /* Робить текст прозорим */
}

/* Additional selectors for cross-browser compatibility */
.search-input:focus::-webkit-input-placeholder {
  /* Chrome, Safari, Opera */
  color: transparent;
}
.search-input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
}
.search-input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
}
.search-input:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: transparent;
}
/* =======================
   Block-filters (Base styles)
   ======================= */
.block-filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}
.block-filters h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 136%;
  letter-spacing: -0.02em;
  color: #242424;
  margin-bottom: 0;
}
.current-category {
  text-transform: capitalize;
}
.clear-btn,
.search-btn {
  fill: none;
}

.filters-list {
  display: flex;
  gap: 20px;
}
.filters-list-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #242424;
  position: relative;
  transition: color 0.3s ease;
}
.filters-list-item::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: rgba(36, 36, 36, 0.6);

  display: block;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  margin-top: 5px;
}
.filters-list-item:hover,
.filters-list-item-active {
  color: rgba(36, 36, 36, 0.6);
  cursor: pointer;
}

.filters-list-item:hover::after,
.filters-list-item-active::after {
  transform: scaleX(1);
}

/* =======================
   TABLET STYLES (min-width: 768px)
   ======================= */
@media only screen and (min-width: 768px) {
  .block-filters {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px 32px;
  }
  .block-filters h2 {
    font-size: 44px;
    line-height: 109%;
    letter-spacing: -0.02em;
    color: #242424;
    margin-bottom: 32px;
  }

  .search-form {
    max-width: 335px;
    order: 2;
    margin-left: auto;
    margin-bottom: 16px;
  }
  .filters-list {
    order: 3;
    margin-left: auto;
    width: 100%;
    justify-content: flex-end;
  }

  .filters-list {
    display: flex;
  }
  .filters-list-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #242424;
  }
}
/* =======================
   DESKTOP STYLES (min-width: 1440px)
   ======================= */
@media only screen and (min-width: 1440px) {
  .block-filters {
    display: block;
  }
  .block-filters h3 {
    margin-bottom: 0;
  }
  .filters-list {
    display: none;
  }
  .search-form {
    max-width: 450px;
    margin-bottom: 16px;
  }
  .filters-list {
    display: flex;
  }
}

.quote-categories-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.block-quote-info {
  display: block;
  width: 100%;
  order: 2;
}

/* =======================
   Block-categories (Base styles)
   ======================= */
.block-categories {
  display: block;
  width: 100%;
  margin-left: auto;
  padding: 0;
  order: 1;
}
.block-categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 20px;
}
.categories-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  height: 225px;
  box-shadow: none;
  flex-basis: 100%;
}

/* =======================
IMAGE AND TEXT STYLES (Universal)
   ======================= */
.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.categories-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  border-radius: 12px;
  z-index: 1;
}
.categories-item-info {
  color: var(--second-color);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.categories-item-info h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #f4f4f4;
}
.categories-item-info p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(244, 244, 244, 0.4);
}

/* ====================================================================
 ADAPTIVE STYLES
   ==================================================================== */

/* =======================
  TABLET STYLES (min-width: 768px)
   ======================= */
@media only screen and (min-width: 768px) {
  .quote-categories-box {
    display: flex;
    flex-direction: column;
    width: 705px;
    height: auto;
    padding: 0;
    gap: 50px;
  }

  .block-quote-info {
    display: block;
    order: 2;
  }

  .block-categories {
    display: block;
    width: 100%;
    order: 1;
  }

  .block-categories-list {
    row-gap: 32px;
  }
  .categories-item {
    flex-basis: calc((100% - 2 * 15px) / 3);
    height: 225px;
    box-shadow: none;
  }
  .categories-item-info h3 {
    font-size: 24px;
  }
}

/* =======================
 DESKTOP STYLES (min-width: 1440px)
   ======================= */
@media only screen and (min-width: 1440px) {
  .quote-categories-box {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 0;
    width: auto;
    height: auto;
  }

  .block-quote-info {
    display: block;
    width: 444px;
    order: 1;
  }
  .categories-item-info h3 {
    line-height: 100%;
  }

  .block-categories {
    display: block;
    width: 900px;
    order: 2;
  }

  .block-categories-list {
    column-gap: 15px;
    row-gap: 32px;
  }
  .categories-item {
    flex-basis: calc((100% - 2 * 15px) / 3);
    height: 225px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.pagination-controls-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination-controls-list > li:nth-child(2) {
  margin-right: 14px;
}
.pagination-controls-list > li:nth-last-child(2) {
  margin-left: 14px;
}

.pagination-arrow-btn,
.pagination-arrow-btn-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  margin: 0 2px;
  border-radius: 50%;
  background: none;
  user-select: none;
}

.pagination-arrow-btn {
  fill: var(--pagination-color);
  border: 1px solid var(--pagination-color);
}
.pagination-arrow-btn-active {
  fill: var(--main-color);
  border: 1px solid var(--main-color);
}

.right-vector {
  transform: rotate(180deg);
}

.pagination-control,
.pagination-control-active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  border-radius: 50%;
  background: none;
  user-select: none;
}
.pagination-control {
  padding: 0 4px;
  color: var(--pagination-color);
  border: 1px solid transparent;
}
.pagination-control-active {
  width: 31px;
  margin: 0 2px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

@media only screen and (min-width: 768px) {
  .pagination-controls-list {
    margin-top: 32px;
  }

  .pagination-arrow-btn,
  .pagination-arrow-btn-active {
    width: 32px;
    height: 32px;
  }
  .pagination-control,
  .pagination-control-active {
    height: 32px;
  }
  .pagination-control-active {
    width: 32px;
  }
}

/* =======================
block-exercises
   ======================= */

.exercises-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.exercises-item {
  width: 335px;
  border-radius: 15px;
  background: #fff;
  padding: 16px;
}
.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
}

/* Стиль для "WORKOUT" */
.type {
  border-radius: 15px;
  border: 1px solid #242424;
  padding: 5px 8px;
  color: #242424;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 17px;
}

/* Button "Start" */
.start-btn {
  background: none;
  border: none;
  padding: 0;

  color: #242424;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  transition: color 0.2s;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
}

.start-btn:hover {
  color: grey;
}

.title {
  color: #242424;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  width: 400px;
  text-transform: capitalize;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title .icon {
  flex-shrink: 0;
  margin-right: 16px;
  padding-top: 1px;
}

.title .name-text {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise-details-list {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.exercise-details-list li {
  display: flex;
  line-height: 1.5;
}

/* (Burned calories, Body part, Target values) */
.calories-value,
.body-part-value,
.target-value {
  color: #242424;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calories-name,
.body-part-name,
.target-name {
  color: rgba(36, 36, 36, 0.4);
  margin-right: 4px;
  line-height: 18px;
  white-space: nowrap;
}

.icon-star {
  fill: #eea10c;
  display: block;
  transform: translateY(-1px);
}

.rating {
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.rating,
.icon-star {
  margin-left: 4px;
}

.icon-arrow-right {
  stroke: #242424;
  fill: none;
}

@media (max-width: 375px) {
  .calories-value{
    max-width: 40px;
}

  .body-part-value{
    max-width: 30px;
  }

  .target-value{
    max-width: 20px;
  }

  .title .name-text{
    max-width: 250px;
  }


  
}

@media only screen and (min-width: 768px) {
  .exercises-item {
    width: 344px;
    
  }

  .calories-value{
    max-width: 43px;
}

  .body-part-value{
    max-width: 30px;
  }

  .target-value{
    max-width: 22px;
  }




  .title .name-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    max-width: 272px;
    }


  @media only screen and (min-width: 1440px) {
    .exercises-item {
    width: 442px;
  }

    .calories-value{
    max-width: 63px;
}

.target-value{
    max-width: 50px;
  }

    .title .name-text{
      max-width: 400px;
    }



  }
}
