<div class="block-filters">
  <div class="block-title"></div>
    <h2>Exercises<span class="slash visually-hidden"> / </span></h2>
    <p class="current-category"></p>
  </div>
  <form class="search-form visually-hidden" autocomplete="off">
    <label class="search-label" for="search">
      <input
        class="search-input"
        type="text"
        name="search"
        placeholder="Search"
        id="search"
        autofocus
      />
    </label>
    <button class="clear-btn visually-hidden" type="button">
      <svg class="logo-icon" width="18" height="18">
        <use href="./assets/icons/icons.svg#icon-x"></use>
      </svg>
    </button>
    <button class="search-btn" type="submit">
      <svg class="logo-icon" width="18" height="18">
        <use href="./assets/icons/icons.svg#icon-search"></use>
      </svg>
    </button>
  </form>
  <ul class="filters-list"></ul>
</div>
