<div class="block-quote-info">
  <div class="quote-and-img">
    <div class="quote-card">
      <svg class="quote-icon-man" width="34" height="32">
        <use href="../assets/icons/icons-not-min.svg#icon-running-man"></use>
      </svg>

      <h3 class="quote-title">Quote of the day</h3>

      <svg class="quote-icon-comma" width="24" height="24">
        <use
          href="../assets/icons/icons-not-min.svg#icon-inverted-commas"
        ></use>
      </svg>

      <p class="quote-api-text">Default text</p>
      <p class="quote-api-text">Default author</p>
    </div>

    <img
      class="quote-img"
      src="../images/quote-girls-desc.jpg"
      alt="Two girls are chatting and drinking water during the walk"
      width="444"
      height="242"
    />
  </div>

  <div class="daily-norm">
    <svg class="icon-dumbbells" width="34" height="32">
      <use href="../assets/icons/icons-not-min.svg#icon-dumbbells"></use>
    </svg>

    <h3 class="daily-norm-title">110 min</h3>
    <p class="daily-norm-subtitle">Daily norm of sports</p>
    <p daily-norm-text>
      The World Health Organization recommends at least 150 minutes of
      moderate-intensity aerobic physical activity throughout the week for
      adults aged 18-64. However, what happens if we adjust that number to 110
      minutes every day? While it might seem like a high number to hit,
      dedicating 110 minutes daily to sporting activities may offer unparalleled
      benefits to physical health, mental well-being, and overall quality of
      life.
    </p>
  </div>
</div>
