<div class="block-quote-info-fav">
  <div class="quote-cards">
    <div class="quote-card">
      <svg class="quote-icon-man" width="32" height="32">
        <use href="/assets/icons/icons.svg#icon-running-man"></use>
      </svg>

      <div class="quote-content">
        <h3 class="quote-title">Quote of the day</h3>
        <p class="quote-text quote-api-text"></p>
        <p class="quote-author quote-api-author"></p>
      </div>

      <svg class="quote-icon-comma" width="24" height="24">
        <use href="/assets/icons/icons.svg#icon-inverted-commas"></use>
      </svg>
    </div>

    <div class="img-and-daily">
      <div class="daily-norm">
        <svg class="icon-dumbbells" width="32" height="32">
          <use href="/assets/icons/icons.svg#icon-dumbbells"></use>
        </svg>

        <div class="daily-norm-content">
          <h3 class="daily-norm-title">110 min</h3>
          <p class="daily-norm-subtitle">Daily norm of sports</p>
        </div>
      </div>

      <img
        class="quote-img"
        src="/images/fav-quote-mob.jpg"
        srcset="
          /images/fav-quote-mob.jpg      320w,
          /images/fav-quote-mob@2x.jpg   640w,
          /images/fav-quote-tab.jpg      768w,
          /images/fav-quote-tab@2x.jpg  1536w,
          /images/fav-quote-desc.jpg    1280w,
          /images/fav-quote-desc@2x.jpg 2560w
        "
        alt="Two girls are chatting and riding the bikes"
        width="335"
        height="119"
        sizes=" (max-width: 767px) 335px, (max-width: 1439px) 344px, 239px "
      />
    </div>
  </div>
</div>
