<section>
  <div class="container hero-container">
    <div class="hero">
      <div class="hero-title-wrapper">
        <h1 class="hero-title">
          <svg class="hero-svg bounce-in-left">
            <use href="/assets/icons/icons.svg#icon-asterisk"></use>
          </svg>Get <span class="hero-span heartbeat">Body</span> in <br />
          shape, Stay <span class="hero-span-healthy heartbeat">healthy</span>
        </h1>
        <p class="hero-subtitle">
          Transform your physique and embrace a healthier
          lifestyle with our comprehensive fitness and nutrition
          support.
        </p>
      </div>
      <div class="wrapper-top-tags">
        <img
          class="hero-image-top"
          srcset="
            /assets/images/hero-women-small-x1.avif 1x,
            /assets/images/hero-women-small-x2.avif 2x
          "
          src="/assets/images/hero-women-small-x1.jpg"
          alt="People doing balance exercise outdoors"
        />
        <ul class="hero-tag-list-top">
          <li><p class="hero-tags">#Sport</p></li>
          <li><p class="hero-tags">#Healthy</p></li>
          <li><p class="hero-tags">#Workout</p></li>
          <li><p class="hero-tags">#Diet</p></li>
        </ul>
      </div>
    </div>
    <picture>
      <source
        class="hero-image"
        media="(min-width: 1440px)"
        srcset="
          /assets/images/hero-women-desk-x1.avif 1x,
          /assets/images/hero-women-desk-x2.avif 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /assets/images/hero-women-tab-x1.avif 1x,
          /assets/images/hero-women-tab-x2.avif 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /assets/images/hero-women-mob-x1.avif 1x,
          /assets/images/hero-women-mob-x2.avif 2x
        "
      />
      <img
        class="hero-image"
        src="../assets/images/hero-women-mob-x1.avif"
        alt="Women training outdoors in a plank position"
      />
    </picture>
    <ul class="hero-tag-list">
      <li><p class="hero-tags">#Sport</p></li>
      <li><p class="hero-tags">#Healthy</p></li>
      <li><p class="hero-tags">#Workout</p></li>
      <li><p class="hero-tags">#Diet</p></li>
    </ul>
  </div>
</section>
