:root {
  /* fonts */
  --font-family: 'DM Sans', sans-serif;

  /* colors */
  --main-color: #242424;
  --second-color: #f4f4f4;
  --acent-stars-color: #eea10c;
  --stars-color: rgba(244, 244, 244, 0.2);
  --white-color: #fff;
  --quote-color: rgba(244, 244, 244, 0.6);
  --socials-color : rgba(36, 36, 36, 0.1)
  --pagination-color: #d4d4d4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* transition */
  --trans-norm: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--main-color);
  background-color: var(--second-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
