.local-loader-wrapper {
  position: absolute;
  inset: 0;
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.local-loader-wrapper.hidden {
  display: none;
}

.hypnotic {
  width: 67.2px;
  height: 28px;
  border: 2.2px solid #eea10c;
  border-radius: 50%;
  display: grid;
  animation: hypnotic-spin 2s infinite linear;
}

.hypnotic:before,
.hypnotic:after {
  content: '';
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}

.hypnotic:after {
  --s: -1;
}

@keyframes hypnotic-spin {
  100% {
    transform: rotate(calc(var(--s, 1) * 1turn));
  }
}
