html {
  scroll-behavior: smooth;
}

.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  background: #242424;
  color: white;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;

  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease;

  pointer-events: none;
}

@media (min-width: 768px) {
  .scroll-top {
    width: 68px;
    height: 68px;
    right: 35px;
  }
}

@media (min-width: 1440px) {
  .scroll-top {
    width: 100px;
    height: 100px;
    right: 60px;
  }
}

.scroll-show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.scroll-top:hover {
  background: white;
  color: #000;
  border-color: #000;
}

.scroll-icon {
  width: 22px;
  height: 22px;
  fill: currentColor;
  transition: 0.3s ease;
}

@media (min-width: 768px) {
  .scroll-icon {
    width: 33px;
    height: 33px;
  }
}

@media (min-width: 1440px) {
  .scroll-icon {
    width: 44px;
    height: 44px;
  }
}

.scroll-top.scroll-show {
  animation: vibrate-strong 1.2s infinite ease-in-out;
}

@keyframes vibrate-strong {
  0% {
    transform: scale(1) translate(0, 0);
  }
  20% {
    transform: scale(1.03) translate(0px, 1px);
  }
  40% {
    transform: scale(1.01) translate(1px, 0px);
  }
  60% {
    transform: scale(1.04) translate(0px, 1px);
  }
  80% {
    transform: scale(1.01) translate(1px, 0px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

footer {
  position: relative;
  z-index: 1;
}
