/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./modern-normalize.css');
@import url('./base.css');
@import url('./reset.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./index.css');
@import url('./header.css');
@import url('./section-hero.css');
@import url('./footer.css');
